body {
    /* 브라우저마다 기본 설정으로 BODY 요소에 margin과 padding의 값이 설정되어 있습니다. */
    /* 각각의 브라우저마다 BODY 요소가 다른 값을 가지고 있을 수 있으므로 우리가 일정하게 초기화해서 사용합니다. */
    /* 0은 단위를 사용하지 않습니다. */
    margin: 0;
    padding: 0;
  }
  /* COMMON */
.body__container{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
/* BTN */
.btn {
    height: 34px;
    background: #eee linear-gradient(to bottom, #fcfcfc , #eee);
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
  }
  .btn:hover::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.07);
  }
  .btn.btn--primary{
    border: 1px solid #65b836;
    color: #fff;
    background: #55a532 linear-gradient(#91dd70, #55ae2e);
  }
/* INPUT TEXT */
.input--text {
    height: 34px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    font-size:16px;
  }
  .input--text:focus{
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 
      0 0 5px rgba(81,167,232,0.5);
  }
  /* vedor prefix(브라우저 업체별 접두사) */
  .input--text::-webkit-input-placeholder{
color:#cacaca;
  }
  .input--text::-ms-input-placeholder{
    color:#cacaca;
  }
  .input--text::-moz-input-placeholder{
    color:#cacaca;
  }

/* HEADER */
header {
  /* 화면에는 다음의 값으로 랜더링 되어 있는데 여러 이유로(설명이 많이 필요합니다) 생략 가능합니다. */
  /* width: 100%; == auto; */
  /* height: 75px; == auto; */  
    border-bottom: 1px solid rgba(0,0,0,0.75); /* 요소테두리선-아래: 1px두께 가는실선 밝은회색; - header 하단에 회색의 선이 표시됩니다. */
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    background: #FFF;
}

header .inner {
    height: 78px;
    max-width: 980px;
    margin: 0 auto; /* 요소바깥여백: 여백자동; - 이 속성과 값은 container를 수평 가운데 정렬하는 속성으로 쓰입니다. */
}

header .menu-group {
    /* header 에 넣어도 container에 넣어도 같은 효과를 받을 수 있지만 최대한 안으로 들어가서 
    효과를 볼 수 있는 가장 작은 요소에 적어주는 것이 제일 좋다. */
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

header.logo {
    margin-right: 5px;
    float: left; /* 수평정렬: 왼쪽부터차례대로; - logo와 menu를 수평 정렬하기 위해 사용되었습니다. 
    이 속성의 정확한 의미는 수평 정렬이 아니지만 쉽게 이해하도록 의역했습니다. */
}

.logo img { /* logo의 자식(후손) 요소인 img 태그 - 선택자에서 띄어쓰기는 자식(후손)요소를 의미합니다. */
    display: block; /* 요소특성: 형태위주; - img(이미지) 하단에 생기는 불필요한 여백을 없애기 위해서 사용되었습니다. */
  }

.main-menu {
    float: left; /* logo와 menu를 수평 정렬하기 위해 사용되었습니다. */
}

.main-menu-item 
{
    font-size: 16px;
    padding: 8px 10px; /* 
                        padding-top: 8px; 
                        padding-bottom: 8px; 
                        padding-left: 10px; 
                        padding-right: 10px; 과 같습니다. */    
    float: left; /* float이라는 속성을 사용해서 속상을 가로배치 할 수 있다. */
    line-height: 1; /* 줄 높이, 행간과 비슷한 개념으로 이해할 수 있습니다. 
                        기본 값은 normal이며 이는 약 1.2배 정도입니다. 
                        그대로 유지하면 .menu-item의 높이가 약 35px이 되기 때문에 1배로 수정하여 32px로
                        .logo의 크기와 동일하게 작업합니다. */
    
}
/* float: left; 를 사용하고 마무리할 때 필요한 코드입니다. */
/* float: left;를 사용한 해당 HTML 요소의 부모 요소에게 class="clearfix"를 입력하여 CSS float 속성에서 발생하는 현상을 해제합니다. */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}